<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-3">
        <div class="list-group">
          <div class="list-group-item cursor-pointer"
               :class="{'active fw-bold': active_category_id === cat.id}"
               v-for:="cat in categories" :key="cat.id" @click="onClick(cat.id)">
            <img :src="cat.image" :alt="cat.name">
            {{ cat.name }}
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4 pb-3" v-for="p in posts" :key="p.id">
            <div class="card">
              <div class="card-header">{{ p.subject }}</div>
              <div class="card-body" v-html="p.content"></div>
            </div>
          </div>
        </div>
        <Paginator rows="9" v-if="total_items > 0" @page="(e) => {loadPages(e.page + 1)}" :total-records="total_items"/>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      page: 1,
      total_items: 0,
      active_category_id: 0,
      categories: [],
      posts: []
    }
  },
  mounted() {
    fetch("/api/categories/").then(r => r.json()).then(resp => {
      this.categories = resp.categories;
    })
  },
  methods: {
    onClick(id) {
      this.active_category_id = id
      this.loadPages(1)
    },
    loadPages(page) {
      this.page = Math.max(page, 1)
      fetch(`/api/posts/${this.active_category_id}/?page=${page}`).then(r => r.json()).then(resp => {
        this.posts = resp.posts
        this.total_items = resp.total_items
      })
    }
  }
}
</script>
<style>
.cursor-pointer {
  cursor: pointer;

}

.list-group img {
  max-height: 50px;
  max-width: 50px;
}
</style>

